          <tr><td style="height:18px; line-height:18px; font-size:18px; background-color:#efefef;">&nbsp;</td></tr>

          <!-- GRID 2 COLUMNAS -->
          <tr>
            <td style="padding:15px 30px 0 30px; background-color:#efefef;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <!-- Card IZQ -->
                  <td width="50%" valign="top"
                      class="col-card"
                      style="padding:0 15px 0 0;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#efefef" style="background-color:#efefef;">
                      <tr>
                        <td style="padding:0;">
                          <img src="{{ card_left_image_url }}"
                               alt="{{ card_left_image_alt }}"
                               class="img-card"
                               style="display:block; width:100%; max-width:100%; height:auto; border:0; border-radius:10px;" />
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:14px 0px 14px 0px;">
                          <div style="font-family:Arial, sans-serif; font-size:18px; line-height:18px; color:#003a5d; font-weight:700;">
                            {{ card_left_title }}
                          </div>
                          <div style="height:12px; line-height:12px; font-size:12px;">&nbsp;</div>
                          <div style="font-family:Arial, sans-serif; font-size:13px; line-height:{{ card_left_description_line_height | default('20') }}px; color:#555555; font-weight:400; padding-bottom:20px;">
                           {{ card_left_description | safe }}</div>
                          <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="center" bgcolor="#37474a" style="border-radius:20px;">
                                <a href="{{ card_left_button_url }}"
                                   target="_blank"
                                   style="display:inline-block; color:#ffffff; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:16px; text-decoration:none; padding:15px 45px; border-radius:20px;">
                                  {{ card_left_button_text }}
                                </a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>

                  <!-- Card DCHA -->
                  <td width="50%" valign="top"
                      class="col-card"
                      style="padding:0 0 0 15px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#efefef" style="background-color:#efefef;">
                      <tr>
                        <td style="padding:0;">
                          <img src="{{ card_right_image_url }}"
                               alt="{{ card_right_image_alt }}"
                               class="img-card"
                               style="display:block; width:100%; max-width:100%; height:auto; border:0; border-radius:10px;" />
                        </td>
                      </tr>
                      <tr>
                        <td style="padding:14px 0px 14px 0px;">
                          <div style="font-family:Arial, sans-serif; font-size:18px; line-height:18px; color:#003a5d; font-weight:700;">
                            {{ card_right_title }}
                          </div>
                          <div style="height:12px; line-height:12px; font-size:12px;">&nbsp;</div>
                          <div style="font-family:Arial, sans-serif; font-size:13px; line-height:{{ card_right_description_line_height | default('20') }}px; color:#555555; font-weight:400; padding-bottom:20px;">
                           {{ card_right_description | safe }}</div>
                          <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="center" bgcolor="#37474a" style="border-radius:20px;">
                                <a href="{{ card_right_button_url }}"
                                   target="_blank"
                                   style="display:inline-block; color:#ffffff; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:16px; text-decoration:none; padding:15px 45px; border-radius:20px;">
                                  {{ card_right_button_text }}
                                </a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr><td style="height:18px; line-height:18px; font-size:18px; background-color:#efefef;">&nbsp;</td></tr>
