          <!-- BLOQUE: TEXTO IZQ + IMAGEN DCHA -->
          <tr>
            <td style="padding:0 0px 0 0px; background-color:#ffffff;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#efefef" style="background-color:#efefef;">
                <tr>
                  <td width="50%" valign="middle" style="padding:16px 20px 16px 30px;">
                    <div style="font-family:Arial, sans-serif; font-size:18px; line-height:18px; color:#003a5d; font-weight:700;">
                      {{ title }}
                    </div>
                    <div style="height:12px; line-height:12px; font-size:12px;">&nbsp;</div>
                    <div style="font-family:Arial, sans-serif; font-size:18px; line-height:18px; color:#555555; font-weight:400; padding-bottom:20px;">
                           {{ description | safe }}</div>
                    <table border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td bgcolor="#37474a" style="border-radius:2px;">
                          <a href="{{ button_url }}"
                             target="_blank"
                             style="display:inline-block; padding:10px 14px; font-family:Arial, sans-serif; font-size:13px; color:#ffffff; text-decoration:none; font-weight:700;">
                            {{ button_text }}
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width="50%" valign="top" style="padding:0px 30px 30px 15px ;;">
                    <img src="{{ image_url }}"
                         alt="{{ image_alt }}"
                         width="340"
                         style="display:block; width:100%; max-width:340px; height:300px; object-fit:cover; border:0; border-radius:10px;" />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
