          <!-- TÍTULO SECCIÓN -->
          <tr>
            <td align="center" style="padding:28px 20px 20px 20px; background-color:#ffffff;">
              <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:34px; font-weight:700; color:{{ color }};">
                {{ title }}
              </div>
              <div style="height:10px; line-height:10px; font-size:10px;">&nbsp;</div>
              <table width="40%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="border-top:4px solid {{ color }};">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
