          <!-- FOOTER -->
          <tr>
            <td bgcolor="#37474a" style="background-color:#37474a; padding:18px 24px;" valign="middle">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td align="left" style="width:55%;" valign="middle" width="55%">
                    <a href="{{ footer.logo_link }}" target="_blank">
                      <img src="{{ footer.logo_url }}"
                           alt="Viamed"
                           width="90"
                           style="display:block; border:0; width:90px; height:auto;" />
                    </a>
                  </td>
                  <td align="right" style="width:45%;" valign="middle" width="45%">
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        {% for link in footer.social_links %}
                        {% if link.icon_url %}
                        <td style="padding-left:10px;">
                          <a href="{{ link.url }}" target="_blank">
                            <img src="{{ link.icon_url }}"
                                 alt="{{ link.platform }}"
                                 width="23"
                                 height="23"
                                 style="display:block; border:0; width:23px; height:23px;" />
                          </a>
                        </td>
                        {% endif %}
                        {% endfor %}
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <!-- BAJA -->
          <tr>
            <td align="center" style="padding:16px 20px 24px 20px; background-color:#ffffff;">
              <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:11.5px; line-height:16px; color:#7a7a7a;">
                {{ footer.unsubscribe_pretext }}
                <br />
                {{ footer.unsubscribe_label }}
                <a href="{{ footer.unsubscribe_url }}" target="_blank" style="color:#11a7c7; text-decoration:none; font-weight:700;">{{ footer.unsubscribe_text }}</a>.
              </div>
            </td>
          </tr>
